@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility to allow scrolling without visible scrollbars */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}